@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MvcMovie</h1>
    <p class="lead">Now, starting ASP !</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more on ASP.NET MVC 5 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        @ViewBag.Message
    </div>
</div>