@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MvcMovie</h1>
    <p class="lead">Now, starting ASP !</p>
</div>

<div class="row">
    <div class="col-md-4">
        @ViewBag.Message
    </div>
</div>